<div class="contactPage">
<h2>Kontakta oss</h2>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success">Ditt meddelande är skickat!</h5>

  <label>
    <input type="text" formControlName="name" placeholder="Namn">
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error"> 
      <div *ngIf="messageForm.controls.name.errors.required">Skriv in ditt namn</div>
    </div>
  </label>

  <label>
    <textarea formControlName="message" placeholder="Meddelande"></textarea>
    <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required">Skriv in ditt meddelande</div>
    </div>
  </label>

  <input type="submit" value="Skicka" class="button">

</form>

<div *ngIf="submitted" class="results">
  <strong>Namn:</strong>
  <span>{{ messageForm.controls.name.value }}</span>

  <strong>Meddelande:</strong>
  <span>{{ messageForm.controls.message.value }}</span>
</div>

<div class="map">
  <agm-map [zoom]=12 [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>

</div>


