.contactPage {
    width: 80%;
    margin: 0 auto;

}
label {
    display: block;
    // margin-left: 20px;
    
    input, textarea {
        display: block;
        width: 50%;
        margin-bottom: 20px;
        padding: 1em;
    }

    .error {
        margin-top: -20px;
        background: yellow;
        padding: .5em;
        display: inline-block;
        font-size: .9em;
        margin-bottom: 20px;
    }
}

.button {
    margin-bottom: 20px;
    background: red;
    border: none;
    color: white;

    text-transform: uppercase;
    border-radius: 4px;
    padding: 1em;
    cursor: pointer;
    font-family: 'Montserrat';
}

.results {
    margin-top: 50px;
    strong {
        display: block;
    }
    span {
        margin-bottom: 20px;
        display: inline-block;
    }
}
agm-map {
    height: 300px;
    width: 80%;
}
.map {
    margin-bottom: 60px;
}