<section>
<div>
  <mat-card class="example-card cardPadding">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Truck #1</mat-card-title>
      <mat-card-subtitle>Vit lastbil</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/5.jpg" alt="">
    <mat-card-content class="textContent">
      <p>
        Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten. Poängen med
        Lorem Ipsum är att det ger ett normalt ordflöde.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href='https://www.europosters.se/white-truck-f60552698' target="_blank"><button mat-button>Se vit bil</button></a>
    </mat-card-actions>
  </mat-card>

</div>

<div>
  <mat-card class="example-card cardPadding">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Truck #2</mat-card-title>
      <mat-card-subtitle>Blå lastbil</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/4.jpg" alt="">
    <mat-card-content class="textContent">
      <p>
        Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten. Poängen med
        Lorem Ipsum är att det ger ett normalt ordflöde,
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href='https://www.safetyandhealthmagazine.com/articles/15401-hours-of-service-restart-provision-offers-commercial-drivers-no-safety-benefit-dot-oig-says0' target="_blank"><button mat-button>Se blå bil</button></a>
    </mat-card-actions>
  </mat-card>

</div>

<div>
  <mat-card class="example-card cardPadding">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Truck #3</mat-card-title>
      <mat-card-subtitle>Brun lastbil</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/7.jpg" alt="">
    <mat-card-content class="textContent">
      <p>
        Det är ett välkänt faktum att läsare distraheras av läsbar text på en sida när man skall studera layouten. Poängen med
        Lorem Ipsum är att det ger ett normalt ordflöde.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href='http://www.browntruckgroup.com/default.htm'
        target="_blank"><button mat-button>Se brun bil</button></a>
    </mat-card-actions>
  </mat-card>
</div>
</section>