section {
    max-width: 835px;
    margin: auto;
}
.cardPadding {
    margin-left:5%;
    margin-right:5%;
}

div {
    max-width: 30%;
    margin-left: 20px;
    margin-bottom: 30px;
    // padding-bottom: 30px;
    margin-top: 30px;
    border: 1px solid rgb(230, 224, 224);
    float: left;
}
.example-header-image {
    margin-top: 0px;
}
mat-card {
    color: rgba(0,0,0,.87);
}

mat-card-title {
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    right: 10%;
    top: 3%;
}
mat-card-subtitle {
    color: rgba(0,0,0,.54);
    font-size: 10px;
    position: absolute;
    right: 10%;
    top: 9%;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.mat-card-header-text {
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 0px;
    margin-left: 16px;
}
.textContent{
    font-family: Montserrat;
    color: rgba(124, 122, 122, 0.87);
    font-size: 12px;
    line-height: 1.5em;
    margin-left: -13px;
    margin-right: -13px;
    // text-align: justify;
}
mat-card-actions {
    margin: auto;
    width: 50%;
}
button {
    width: 100px;
    margin-bottom: 20px;
    border: 1px solid rgb(218, 214, 214);
    background-color: white;
    font-size: 10px;
    font-weight: 800;
    font-family: Montserrat;
    letter-spacing: 1px;
    color: rgb(88, 82, 82);
    padding: 12px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-align: center;

}
button:hover {
    background-color: rgb(90, 89, 89);
    color: white;
    border-radius: 5px;
}