
.picsContainer {
    margin: 30px;
    background-color: #F6F0F0;
    padding: 15px;
    border: solid 1px black;
    border-radius: 7px;
}
    // mat-grid-tile {
    //     background-color: red;
    // }
a {
    background-color: blue;
}