<div class="picsContainer">
<!-- <img src="../../assets/gallery/bild_1_thumb.jpg"> -->
<mat-grid-list cols="5" rowHeight="1:1" gutterSize="7px">
    <mat-grid-tile><img src="../../assets/gallery/bild_1_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_2_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_3_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_4_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_5_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_6_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_7_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_8_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_9_thumb.jpg"></mat-grid-tile>
    <mat-grid-tile><img src="../../assets/gallery/bild_10_thumb.jpg"></mat-grid-tile>
</mat-grid-list>

<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
        {{tile.text}}
    </mat-grid-tile>
</mat-grid-list> -->

</div>

