    .firstPic {
        width: 100%;
        margin-top: 3px;
    }
    .textAreaFirstPic {
        padding-left: 15px;
        padding-right: 15px;
        margin-right: 10px;
        background-color: white;
        opacity: 0.8;
        position: absolute;
        top: 20%;
        right: 0px;
        width: 30%;
        font-size: 1.5vw;
        line-height: 150%;
    }
    .textAreaBelowFirstPic {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        // padding-bottom: 30px;
        padding-top: 5px;
        background-color: #E11313;
        color: white;
        
        .h1 {
        font-size: 4vw;
        }

        .h6 {
        color: white;
        font-size: 2vw;
        margin-top: -8px;
        }

        .textAreaTjanster {
        font-size: 1.7vw;
        margin-top: -20px;
        margin-bottom: -10px;
        padding-right: 30px;
        width: 60%;
        }

    }
        .grayCarDiv {
        width: 20%;
        position: absolute;
        right: 0px;
        top: 0px;
        }
        .grayCar {
        width: 100%;
        float: right;
        }


    .serviceButton {
        color: black;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 2vw;
        font-family: 'Montserrat';
        font-weight: 500;
        background-color: white;
        // height: 15%;
        width: 20%;
        border: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
}