section {
    max-width: 800px;
}

  .firstPic {
        width: 100%;
        margin-top: 3px;
    }

    .textAreaBelowFirstPic {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top: 5px;
        background-color: #E11313;
        color: white;
        
        .h1 {
        font-size: 20px;
        }

        .h6 {
        color: white;
        font-size: 12px;
        margin-top: -8px;
        }

        .textAreaTjanster {
        font-size: 12px;
        line-height: 20px;
        font-family: Montserrat;
        margin-top: -20px;
        margin-bottom: -10px;
        padding-right: 30px;
        width: 60%;
        }

    }
        .grayCarDiv {
        width: 20%;
        position: absolute;
        right: 0px;
        top: 0px;
        }
        .grayCar {
        width: 100%;
        float: right;
        }


    .serviceButton {
        color: black;
        padding-top:10px;
        padding-bottom: 10px;
        font-size: 2vw;
        font-family: 'Montserrat';
        font-weight: 500;
        background-color: white;
        // height: 15%;
        width: 20%;
        border: 0px;
        margin-top: 30px;
        margin-bottom: 20px;
}