p {
    font-family: Montserrat;
    margin-top: -0px;
    text-align: center;
}

.picsContainer {
    max-width: 770px;
    margin: auto;
    margin-top: 20px;
    // background-color:rgb(44, 43, 43);
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 80px;
    border: 1px solid rgb(148, 144, 144);
}

img {
    border-radius: 15px;
}

mat-grid-tile-footer {
    font-size: 1.7vw;
    color: white;
}
