<header>
  <img src="./assets/ham.png" class="ham">
  <div class="container">
    <a routerLink="/" 
      class="appTitle">{{apptitle}}
    <div class="appTitle2">{{apptitle2}}</div>
    </a>

    <nav>
      <ul>
        <li><a routerLink="/">Hem</a></li>
        <!-- <li><a routerLink="/about">om</a></li> -->
        <li><a routerLink="/pics">Github</a></li>
        <li><a routerLink="/card">Bilar</a></li>
        <li><a routerLink="/contact">Kontakt</a></li>
      </ul>      
    </nav>

  </div>
</header>
