
<img class="firstPic" src="../../assets/twelve.jpg">

<div class="textAreaFirstPic">
  <h2>TRANSPORTER</h2>
  <p>Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan
    1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en
    bok.</p>

</div>

<div class="textAreaBelowFirstPic">
  <h2 class="h1">VÅRA TJÄNSTER</h2>
        <h6 class="h6">
          <p>LOREM IPSUM ÄR NÅGOT MAN <br />
            ANVÄNDER SOM UTFYLLNADSTEXT</p>
        </h6>

  <p class="textAreaTjanster">Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin. Lorem ipsum har varit standard ända sedan
    1500-talet, när en okänd boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en
    bok.
  </p>
<div class="grayCarDiv">
  <img class="grayCar" src="../../assets/six.jpg">
</div>
<a routerLink="/readMoreService"><button type="button" class="serviceButton">Läs mer</button></a>

</div>